doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
        script(src='/javascripts/jquery.min.js')
        script(src='/javascripts/itemCrud.js')
        script(src='/javascripts/couponCrud.js')
        script(src='/javascripts/cartCrud.js')
        script(src='/javascripts/shopCart.js')